<html>
    <head>
        <title>Blog d'une codeuse en devenir</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog d'une codeuse en devenir</a></h1>
        </div>

        <div>
            <p>published: 02.07.2018, 17:01</p>
            <h2><a href="">Comment je suis devenue un pirate</a></h2>
            <p>Ça fait 8 heures que je code.</p>
        </div>

        <div>
            <p>published: 02.07.2018, 17:02</p>
            <h2><a href="">Comment ma vision a baissé de 80%</a></h2>
            <p>Ça fait 8 heures que je code.</p
        </div>
    </body>
</html>
